@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Caveat:wght@700&family=Cinzel+Decorative&family=Lobster&family=Noto+Serif+NP+Hmong&family=Oswald:wght@300&family=Playfair+Display&family=Short+Stack&family=Source+Code+Pro&family=Zen+Dots&display=swap");

:root {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
